body{
    background-color: rgb(30, 77, 30);
    padding: .5rem;
    font-family: roboto;
    
}
main{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    
    box-sizing: border-box;
}

.base{
    background-color: rgb(56, 91, 46);
    border: .2rem solid black;
    padding: .6rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    size: 2rem;
    font-size: 1.6rem;
    
}

#principal{
    background-color: antiquewhite;
    font-size: 2rem;
    align-items: center;
    width: 100%;
    color: rgb(80, 37, 37);
}

#Nosotros{
    display: flex;
    flex-flow: row wrap;    
    padding-left: 2rem;
    padding-right: 2rem;
}

.parrafo{
    text-align: justify;
}

#Lvendemos{
    display: flex;
    gap: .7rem;
    flex-flow: wrap wrap;
}

#quehacemos{
    height: 15rem;
}

#pie{
    font-size: 1.5rem;
    color: black;
    display: flex;
    flex-flow: column  wrap;
    background-color:beige;
}

#botonxd{
    display: flex; 
    justify-content: center;
    text-align: center;
    padding: 1rem;

}

#B_Enviar{
    flex: 1;
    padding: 1.5rem;
    font-size: 1.5rem;
}

#Bienvenidos{
    font-size: 2rem;
}

#temas{
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
}
